/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

  /* generics */
body {
    font-family: sans-serif;
}

/* Utils */

.container {
    width: 1200px;
    margin: 0 auto;
  }

.row {
    display: flex;
    gap: 10px;
    max-width: 900px;
    margin: 0 auto;
}

  .flex {
    display: flex;
  }

  .col {
    flex-basis: calc(100% / 3);
    /* border: 2px dashed black; */
    margin-top: 100px;
    
  }

  .card {
    position: relative;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
  }


  ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
  }

  li {
    padding: 4px;
  }

  .card img {
    /* height: 400px; */
    display: block;
    max-width: 100%;
    
  }

  h5 {
    font-weight: 300;
  }

  h4 {
    color: red;
  }
  
  .original-price {
    color: black;
    text-decoration: line-through;
}

.discount {
  background-color: red;
  color: white;
  padding: 2px 5px;
  font-weight: bold;
  position: absolute;
  left: 0;
  bottom: 80px;
}

.sost {
  background-color: rgb(0, 129, 1);
  color: white;
  padding: 2px 5px;
  font-weight: bold;
  position: absolute;
  left: 50px;
  bottom: 80px;
}  

.sost2 {
  background-color: rgb(0, 129, 1);
  color: white;
  padding: 2px 5px;
  font-weight: bold;
  position: absolute;
  left: 0;
  bottom: 80px;
} 

.hrt {
  background-color: white;
  color: black;
  padding: 5px 8px;
  font-weight: bold;
  position: absolute;
  right: 0;
  top: 15px;
}
/* # Navbar */

.navbar {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 105, 0);
    box-shadow: 0px 1px 8px grey;
    position: fixed;
    z-index: 1;
}

  .navbar-logo img {
    height: 30px;
    display: block;
  }

  .navbar-menu {
  position: relative;
  left: 5%;
  text-align: center;
}

.navbar-menu2 {
    position: relative;
    right: 5%;
    text-align: center;
  }

.navbar a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Hover */

.hrt:hover{
  color: red;
}

.levis1:hover::after{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-image: url(img/1b.webp);
  content: '';

  


  .guess:hover::after{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-image: url(img/2b.webp);
    content: ''
}
 

    .sugar:hover::after{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-size: cover;
      background-image: url(img/3b.webp);
      content: '';

      .levis2:hover::after{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-size: cover;
        background-image: url(img/4b.webp);
        content: '';

        .maya:hover::after{
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-size: cover;
          background-image: url(img/5b.webp);
          content: '';

          .espirit:hover::after{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-size: cover;
            background-image: url(img/6b.webp);
            content: ''; */

            /* Footer */
           
           